@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif;}
body{overflow-x: hidden;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}

.header{width: 100%; height: 154px; background-color: #fff; z-index: 101; position: fixed;}
.header .header-wrap{max-width: 60%; margin: 0 auto; position: relative;}
.header .etc-menu{max-width: 100%;}

.header .logo{text-align: center; margin-top: 20px;}
.header .logo img{width: 158px;}

.header .nav{flex-basis: 50%; margin-top: 35px;}
.header .nav ul{display: flex; justify-content: space-between;}

.header .etc-menu{position: fixed; right: 40px; top: 30px;}
.header .etc-menu ul li{float: left; margin: 0 10px;}
.header .etc-menu ul li a {font-size: 13px; display: inline-block; font-weight: 500;}
.header .etc-menu ul li a img{height: 13px; width: 13px;}
.header .etc-menu ul li:nth-child(2){margin-right: 30px;}
.header .etc-menu ul li:nth-child(1) a::after{content: ""; position: fixed; height: 13px; width: 1px; background-color: #000; right: 240px; top: 37px;}

.m-btn{position: fixed; right: 30px; top: 30px; transition: 1s; z-index: 102; cursor: pointer; display: none;}

.m-btn .line{width: 30px; height: 5px; background-color: #000; border-radius: 5px; margin: 5px; transition: 1s;}
.m-btn .line:nth-child(2){width: 30px;}
.m-btn .line:nth-child(3){width: 30px;}

.m-btn.on .line:nth-child(1){transform: rotate(45deg) translateY(14px);}
.m-btn.on .line:nth-child(2){opacity: 0;}
.m-btn.on .line:nth-child(3){transform: rotate(-45deg) translateY(-14px); width: 30px;}

.m-nav{position: fixed; width: 300px; height: 100%; background-color: #f2f2f2; right: -100%; z-index: 101; top: 0; overflow: hidden; padding: 50px; box-sizing: border-box; transition: 1s;}
.m-nav.on{right: 0;}
.m-nav > ul{margin-top: 50px; width: 100%;}
.m-nav > ul li{padding: 10px 0; border-bottom: 1px solid #000; border-top: 1px solid #000; font-size: 16px; text-align: center;}
.m-nav > ul li:not(:nth-child(1)){border-top: 0;}
.m-nav > ul li a:hover{font-weight: bold;}
.m-nav > ul li a{color: #000;}

.m-nav .m-txt{width: 100%; margin-top: 50px;}
.m-nav .m-txt ul{display: flex;}
.m-nav .m-txt ul li{width: 150px; height: 28px; border: 1px solid #000; float: left; text-align: center; cursor: pointer;}
.m-nav .m-txt ul li:nth-child(1){border-right: 0;}
.m-nav .m-txt ul li a{color: #000; font-size: 14px; font-weight: bold;}
.m-nav .m-etc{width: 70%; margin: 0 auto; margin-top: 50px;}
.m-nav .m-etc ul{display: flex; justify-content: space-between;}
.m-nav .m-etc ul li a img{height: 20px;}


.slide-section{width: 100%;}
.slide-section img{width: 100%; margin-top: 154px;}

.menu{margin-top: 200px; background-color: #fff; width: 100%; height: 800px; overflow: hidden;}
.menu h3{font-size: 40px; text-align: center;}

.menu .content{position: absolute; width: 100%; height:100%;}
.menu .content .content-wrap{width: 90%; position: absolute; height: 100%; left: 50%; transform: translateX(-50%); margin: 0 auto; display: none; margin-top: 120px;}
.menu .content .content-wrap:nth-child(1){display: block;}
.menu .content .content-menu{width: 100%; overflow: hidden;}
.menu .content .menu-content{width: 200%; position: relative; display: flex; justify-content: space-between;}
.menu .content .menu-box{width: 15.5%; cursor: pointer; text-align: center; position: relative; float: left;}
.menu .content .menu-box p{margin-top: 20px;}
.menu .content .menu-box img{width: 80%; transition: 0.5s;}
.menu .content .menu-box:hover img{width: 100%; transition: 0.5s;}

.menu .content .arrow a{
    font-size: 0;
    position: absolute;
    width: 100px;
    height: 100px;
    overflow: hidden;
    top: 180px;
    background: url("../images/방향.png") 0 0 no-repeat;
}

.menu .content .arrow a:nth-child(1){left: -70px;}
.menu .content .arrow a:nth-child(1):hover{
    background-position-y: 100%;
}
.menu .content .arrow a:nth-child(2){right: -70px; background-position: 100% 0;}
.menu .content .arrow a:nth-child(2):hover{
    background-position-y: 100%;
}

.title{width: 100%; margin-top: 200px;}
.title .title-wrap{width: 78%; margin: 0 auto;}
.title h3{text-align: center; margin-bottom: 70px; font-size: 40px;}
.title .title-content{display: grid; grid-template-columns: 45% 50%; justify-content: space-between;}

.title .title-content .title-img{width: 100%; overflow: hidden;}
.title .title-content .title-img ul li{display: none;}
.title .title-content .title-img ul li:nth-child(1){display: block;}
.title .title-content .title-img img{width: 100%;}

.title .title-content .title-txt{padding: 10px 0;}
.title .title-content .title-txt p{text-align: center;  font-size: 24px; margin-top: 34px; text-transform: uppercase;}

.section{margin-top: 200px; background-color: #fff; width: 100%; position: relative; margin-bottom: 200px;}
.section .section-list ul{width: 100%; display: flex; justify-content: space-between;}
.section .section-list ul li{width: 25%; height: 70px; text-align: center; border: 1px solid #000;line-height: 70px;  background-color: #fff; cursor: pointer; font-size: 24px;}
.section .section-list ul li:not(:nth-child(1)){border-left: none;}
.section .section-list ul li:hover{font-size: 26px; font-weight: bold; transition: 0.5s;}
.section .section-list ul li.on{background-color: #000; color: #fff; font-weight: bold; font-size: 26px;}

.section > ul{width: 100%; display: flex;}
.section > ul li{width: 100%; display: none;}

.section .section-werp .section-item:nth-child(1){width: 70%;}
.section .section-werp .section-item{width: 90%;}

.section ul li:nth-child(3) p{display: none;}

.section > ul li:nth-child(1).on,
.section > ul li:nth-child(2).on,
.section > ul li:nth-child(3).on,
.section > ul li:nth-child(4).on{display: block;}

.section > ul li img{width: 100%; opacity: 0.75;}

.section .section-werp .section-item .item-list1 p:nth-child(3){
    display: none;
}
.section .section-werp .section-item .item-list4:nth-child(1) p:nth-child(3){display: none;} 

.section .section-werp{position: absolute; top: 30%;}
.section .section-werp .section-item{display: flex;}
.section .section-werp .section-item .item-list1,
.section .section-werp .section-item .item-list2,
.section .section-werp .section-item .item-list3,
.section .section-werp .section-item .item-list4{text-align: center; margin-left: 50px; cursor: pointer; display: none;}
.section .section-werp .section-item .item-list1 img,
.section .section-werp .section-item .item-list2 img,
.section .section-werp .section-item .item-list3 img,
.section .section-werp .section-item .item-list4 img{width: 90%;  transition: 0.5s;}

.section .section-werp .section-item .item-list1:hover img,
.section .section-werp .section-item .item-list2:hover img,
.section .section-werp .section-item .item-list3:hover img,
.section .section-werp .section-item .item-list4:hover img{width: 100%;  transition: 0.5s;}

.section .section-werp .section-item .item-list1.on,
.section .section-werp .section-item .item-list2.on,
.section .section-werp .section-item .item-list3.on,
.section .section-werp .section-item .item-list4.on{display: block;}

.section .section-werp .section-item .item-list3:not(:nth-child(1)){margin-left: 10px;}

.section .section-werp .section-item .item-list4{margin-top: 50px;}
.section .section-werp .section-item .item-list4 p{color: #fff;}

.section .section-werp .section-item p{font-size: 14px; margin-top: 20px; max-width: 360px; font-weight: bold;}

.news{width: 100%; margin-bottom: 200px;}
.news h3{font-size: 40px; text-align: center; margin-bottom: 50px;}
.news .news-wrap{width: 78%; margin: 0 auto; position: relative;}

.news .news-content{display: flex; justify-content: space-between; gap: 20px;}
.news .news-content2{display: flex; justify-content: space-between; margin-top: 50px; gap: 20px;}
.news .news-item{position: relative; font-size: 0; }
.news .news-content2 .news-item,
.news .news-content .news-item{
    width: 700px;
    overflow: hidden;
    box-sizing: border-box;
}
.news .news-item a img{transition: 0.5s; width: 100%;}
.news .news-item a img.on{transition: 0.5s; transform: scale(1.2); opacity: 1;}
.news .news-item a p.on{display: none;}
.news .news-item a p{text-align: center; color: #fff; transform: translate(-50%); position: absolute; top: 45%; left: 50%; line-height: 60px; font-size: 24px; font-weight: bold; width: 100%; transition: 0.5s; z-index: 9;}
.news .news-item a p:nth-last-child(1){font-size: 17px;}


.news .news-content2 .news-item a p:not(:nth-child(2)){line-height: 150px;}
.news .news-item a p:nth-child(2){line-height: 0;}
.news .news-content2 .news-item a p:nth-child(3){line-height: 60px;}



.footer{width: 100%; background-color: #000; position: relative; height: 700px; text-transform: uppercase;}
.footer .footer-wrap{max-width: 1050px; margin: 0 auto; position: relative;}
.footer .logo{text-align: center;}
.footer .footer-txt{width: 100%; text-align: center; color: #fff; margin-bottom: 30px;}
.footer .footer-txt p{font-size: 18px;}
.footer .logo img{margin: 50px 0;}


.footer .footer-box{width: 40%; height: 50px; border: 1.5px solid #fff; position: relative; left: 50%; transform: translateX(-50%); cursor: pointer;  text-align: center; cursor: pointer;}
.footer .footer-box a{color: #fff; line-height: 45px; font-size: 18px;}
.footer .footer-menu{width: 100%; display: flex; justify-content: space-between;}
.footer .footer-menu ul{margin: 20px 0 30px;}
.footer .footer-menu ul:nth-child(3){margin-top: 65px;}

.footer .footer-menu ul li{margin-top: 20px;}
.footer .footer-menu ul li a{color: #fff; font-size: 18px;}
.footer .footer-menu ul:nth-child(2) li:nth-child(1) a{color: #aaa;}

.footer .footer-sns{width: 100%; text-align: center;}
.footer .footer-sns span{color: #aaa; font-size: 18px; margin-bottom: 20px; display: inline-block;}
.footer .footer-sns .sns-img{max-width: 500px; margin: 0 auto;}
.footer .footer-sns .sns-img ul{display: flex; justify-content: space-between;}
.footer .footer-sns .sns-img ul li a{font-size: 0;}

.footer .footer-end{text-align: center; margin-top: 50px;}
.footer .footer-end a{color: #fff; font-size: 18px;}
.footer .footer-end p{color: #fff; font-size: 18px; margin-top: 20px;}

.aside{position: fixed; width: 50px; height: 50px; background-color: #fff; right: 20px; bottom: 20px; cursor: pointer; border-radius: 50px; display: none;}

@media screen and (max-width: 1600px){
    .title .title-content .title-txt p{margin-top: 10px; font-size: 20px;}

    .news .news-item a p{font-size: 20px; top: 40%;}
    .news .news-item a p:nth-last-child(1){font-size: 14px;}

    .section .section-werp .section-item p{font-size: 12px;}
}
@media screen and (max-width: 1200px) {
    .header{height: 100px;}
    .header .nav{display: none;}
    .slide-section img{margin-top: 100px;}
    .header .etc-menu{display: none;}
    .m-btn{display: block;}

    .menu{margin-top: 100px; height: 450px;}
    .menu h3{font-size: 28px;}
    .menu .content .content-wrap{margin-top: 50px;}
    .menu .content .arrow{display: none;}
    .menu .content .menu-box p{font-size: 12px;}

    .title{margin-top: 100px;}
    .title h3{font-size: 28px;}
    .title .title-wrap{width: 90%;}
    .title .title-content .title-txt{padding: 0;}
    .title .title-content .title-txt p{margin-top: 10px; font-size: 18px;}

    .section .section-werp .section-item{width: 70%;}
    .section .section-list ul li:hover{font-size: 20px;}
    .section .section-list ul li{font-size: 18px; height: 50px; line-height: 50px;}
    .section .section-list ul li.on{font-size: 20px;}

    .section .section-werp .section-item .item-list1 p:nth-child(3){display: block;}
    .section .section-werp .section-item .item-list1 p:nth-child(2){display: none;}

    .section .section-werp .section-item .item-list4:nth-child(1) p:nth-child(2){display: none;} 
    .section .section-werp .section-item .item-list4:nth-child(1) p:nth-child(3){display: block;} 

    .news h3{font-size: 28px;}
    .news .news-wrap{width: 80%;}
    .news .news-content,
    .news .news-content2{display: grid; grid-template-columns: 100%;}
    .news .news-content .news-item,
    .news .news-content2 .news-item{width: 100%;}
    .news .news-content2{margin-top: 20px;}
    .news .news-item a p{font-size: 22px; top: 40%;}
    .news .news-item a p:nth-last-child(1){font-size: 17px;}

    .footer .footer-wrap{width: 90%;}

    .footer .footer-txt p,
    .footer .footer-box a,
    .footer .footer-menu ul li a,
    .footer .footer-sns span,
    .footer .footer-sns .sns-img ul li a,
    .footer .footer-end a,
    .footer .footer-end p{font-size: 16px;}
    .aside,
    .aside img{width: 35px; height: 35px;}

}

@media screen and (max-width: 1000px){
    .section .section-list ul li:hover{font-size: 13px;}
    .section .section-list ul li{font-size: 12px; line-height: 40px; height: 40px;}
    .section .section-list ul li.on{font-size: 13px;}
    .title .title-wrap{width: 70%;}
    .title .title-content{grid-template-columns: 100%;}
    .menu{height: 350px;}

    .title .title-content .title-txt p{font-size: 16px;}

    .menu h3,
    .title h3,
    .section h3,
    .news h3{font-size: 24px;}

    .footer .footer-txt p,
    .footer .footer-box a,
    .footer .footer-menu ul li a,
    .footer .footer-sns span,
    .footer .footer-sns .sns-img ul li a,
    .footer .footer-end a,
    .footer .footer-end p{font-size: 14px;}

}

@media screen and (max-width: 640px){
    .section .section-list ul li:hover{font-size: 10px;}
    .section .section-list ul li{font-size: 10px; line-height: 40px; height: 40px;}
    .section .section-list ul li.on{font-size: 10px;}
    .menu .content{height: 300px;}

    .title .title-content .title-txt p{font-size: 14px;}
    .menu h3,
    .title h3,
    .section h3,
    .news h3{font-size: 20px; margin-bottom: 30px;}

    .section{margin-top: 50px; margin-bottom: 50px;}
    .news{margin-bottom: 50px;}

    .menu h3{margin-bottom: 0;}
    .section .section-werp .section-item .item-list1,
    .section .section-werp .section-item .item-list2,
    .section .section-werp .section-item .item-list3,
    .section .section-werp .section-item .item-list4{margin-left: 25px;}
    .section .section-werp{top: 20%;}
    .section .section-werp .section-item p{margin-top: 10px;}
    .section .section-werp .section-item .item-list1,
    .section .section-werp .section-item .item-list2,
    .section .section-werp .section-item .item-list3{margin-top: 10px;}

    .news .news-item a p{font-size: 18px; top: 40%;}
    .news .news-item a p:nth-last-child(1){font-size: 16px;}

    .header{height: 80px;}
    .header .logo img{width: 130px;}
    .slide-section img{margin-top: 80px;}
    .aside,
    .aside img{width: 0px; height: 0px;}
}